/*Hamburger navigation bar*/
.nav-icon{
    height: 20px;
    width: 20px;
    margin-left: 2%;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(0,0,0,0.2) 0 60px 40px -7px;
    cursor: pointer;
    z-index: 2;
    top: 0;
}
.line{
    width: 30px;
    height: 2px;
    background-color: #1BA098;
    margin: 3px 0;
    border-radius: 50vw;
    box-shadow: 0 0 .5rem #1BA098;
    transition: 200ms ease-in-out,
                200ms opacity;
}

.x .line{
    background-color: #ff0000;
    box-shadow: 0 0 .5rem #ff0000;
}

.x .line1{
    transform: translateY(5px) rotate(-45deg);
}

.x .line2{
    transform: translateX(100%) rotate(45deg);
    opacity: 0;
}

.x .line3{
    transform: translateY(-5px) rotate(45deg);
}
/*Navigation menu*/
.navMenu {
    background-color: #051622;
    width: 50%;
    height: 100vh;
    padding: 50px;
    transform: translateX(-1000px);
    transition: 0.5s;
    top: 4rem;
    position: absolute;
}
img{
    width: 400px;
    height: 200px;
    margin-top: 2%;
}
.navMenu li{
    list-style-type: none;
    border-bottom: 1px solid #DEB992;
    padding: 30px 0;
    text-align: center;
}

.navMenu li:last-child{
    border-bottom: none;
}

.navMenu li a{
    color: #DEB992;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.navMenu li a:hover{
    font-weight: bold;
}
/*Show the Navigation menu */
.showNavMenu{
    transform: translateX(0);
    z-index: 3;
}
/*Sub menu*/
.subMenu{
    position: static;
    display: none;
}

.subMenu ul li{
    line-height: 22px;
    border-bottom: none;
}

.subMenu ul li a{
    font-size: 15px;
    padding-left: 160px;
}

.showSubMenu{
    display: block;
}

@media screen and (min-width: 1000px){
    .navMenu{
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    .navMenu li a{
        font-size: 16px;
    }
}

.blrText{
    color: transparent;
    filter:blur(3px);
    -webkit-filter:blur(3px) ;
    transition: 0.5s;
}
/*button*/
.button{
    color: rgb(0, 0, 0); /*questo è per la scritta submit sul bottone*/
    border: none;
    display: block;
    background-color: #DEB992;
    box-shadow: 0 0 .5rem #DEB992;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1rem;
  }
  .button1{
    width: 100%;
  }
  #pre{
     border-radius: 12px;
  }
  
  #post{
      border-radius: 12px;
  }
  .button2{
    width: 10%;
  }
  button:hover{
    background-color: #04adc4;
    box-shadow: 0 0 .5rem #04adc4;
  }
  .button1:focus{
    outline: none;
    background-color: #44b927;
    box-shadow: 0 0 .5rem #44b927;
  }
  .button2:focus{
    outline: none;
    background-color: #027483;
    box-shadow: 0 0 .5rem #027483;
  }